<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {{ title }} {% endblock %} - PlainJacob</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li class="notification">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <!-- NAVIGATION -->
    <nav>
      <li>
        <a href="{{ url_for('main.index') }}">Home</a>
      </li>
      <li>
        <a href="{{ url_for('posts.posts') }}">Posts</a>
      </li>
      <li>
        <a href="{{ url_for('main.about') }}">About</a>
      </li>
      {% if current_user.is_anonymous %}
      <li>
        <a href="{{ url_for('auth.login') }}">Login</a>
      </li>
      {% else %}
      <li>
        <a href="{{ url_for('main.profile', username=current_user.username ) }}"
          >Profile</a
        >
      </li>
      <li>
        <a href="{{ url_for('auth.logout')}}">Logout</a>
      </li>
      {% endif %}
    </nav>
    <!-- HEADER -->
    <header>{% block header %}{% endblock %}</header>
    <!-- CONTENT -->
    <section>{% block content %} {% endblock %}</section>
  </body>
</html>
